{% extends 'base.html' %}

{% block title %}用户列表{% endblock %}

{% block content %}
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 用户管理 <span class="c-gray en">&gt;</span> 用户列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="text-c">
		<input type="text" class="input-text" style="width:250px" placeholder="输入用户姓名" id="search_key" name="">
		<button type="button" class="btn btn-success" id="search_btn"><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
{#            <a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>#}
            <a href="javascript:;" onclick="user_add('添加用户','/user/user_add/','800','390')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加用户</a>
        </span>
        <span class="r">共有数据：<strong></strong> 条</span> </div>
	<table class="table table-border table-bordered table-bg">
		<thead>
			<tr>
				<th scope="col" colspan="9">用户列表</th>
			</tr>
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="" value=""></th>
				<th width="30">序号</th>
				<th width="90">姓名</th>
				<th width="100">手机号</th>
				<th width="150">邮箱</th>
				<th>地址</th>
				<th width="120">创建时间</th>
				<th width="50">操作</th>
			</tr>
		</thead>
		<tbody id="data_list">
{#			<tr class="text-c">#}
{#				<td><input type="checkbox" value="1" name=""></td>#}
{#				<td>1</td>#}
{#				<td>admin</td>#}
{#				<td>13000000000</td>#}
{#				<td>admin@mail.com</td>#}
{#				<td>超级管理员</td>#}
{#				<td>2014-6-11 11:11:42</td>#}
{#				<td>2014-6-11 11:11:42</td>#}
{#				<td class="td-manage"><a title="编辑" href="javascript:;" onclick="admin_edit('管理员编辑','admin-add.html','1','800','500')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> <a title="删除" href="javascript:;" onclick="admin_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>#}
{#			</tr>#}
		</tbody>
	</table>
    <div id="page" style="float: right; margin-top: 10px;"></div>
</div>
{% endblock %}

{% block JS %}
<!--请在下方写此页面业务相关的脚本-->
{#<script type="text/javascript" src="/static/lib/My97DatePicker/4.8/WdatePicker.js"></script>#}
{#<script type="text/javascript" src="/static/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>#}
<script type="text/javascript" src="/static/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
$(function () {
    var search = window.location.search;
    {#alert(search)#}
    pn = search.split('&')[0].split('=')[1];
    sk = search.split('&')[1].split('=')[1];
    if(sk != '' && sk != undefined){
        $('#search_key').val(sk);
    }
    $.getJSON('/api/user/?pn=' + pn + '&sk=' + sk, function (data) {
        if(data.code == '200'){
            var html = '';
            var list = data.data_list;
            for(var i=0;i<list.length;i++){
                html += '<tr class="text-c">';
                html += '<td><input type="checkbox" value="'+list[i].id+'" name=""></td>';
                html += '<td>'+((data.page_now - 1) * data.page_size +(i+1))+'</td>';
                html += '<td>'+list[i].name+'</td>';
                html += '<td>'+list[i].phone+'</td>';
                if(list[i].email == '') {
                    html += '<td>--</td>';
                }else {
                    html += '<td>'+list[i].email+'</td>';
                }
                if(list[i].address == '') {
                    html += '<td>--</td>';
                }else {
                    html += '<td>'+list[i].address+'</td>';
                }
                html += '<td>'+list[i].create_time+'</td>';

                html += '<td><a title="编辑" href="javascript:;" onclick="user_edit(\'编辑用户\',\'/user/user_edit/?uid='+list[i].id+'\',\'1\',\'800\',\'390\')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>';
                html += '<a title="删除" href="javascript:;" onclick="user_del(this,'+list[i].id+')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td></tr>';
            }

            $('#data_list').append(html);
            $('.r strong').html(data.rows_count);

            laypage({
                cont: 'page', //容器。值支持id名、原生dom对象，jquery对象。【如该容器为】：<div id="page1"></div>
                pages: data.page_total, //通过后台拿到的总页数
                curr: data.page_now || 1, //当前页
                jump: function(obj, first){ //触发分页后的回调
                    if(!first){ //点击跳页触发函数自身，并传递当前页：obj.curr
                        window.location.href = '/user/user_list/?pn=' + obj.curr + '&sk=' +sk;
                    }
                }
            });
        }else {

        }
    });

    $('#search_btn').on('click', function (e) {
        e.preventDefault();

        var kw = $('#search_key').val().trim();
        if(kw == ''){
            layer.msg('搜索关键字不能为空！', {icon: 2, time: 1500});
            return;
        }
        window.location.href = '/user/user_list/?pn=1&sk='+kw;
    });
});
/*
	参数解释：
	title	标题
	url		请求的url
	id		需要操作的数据id
	w		弹出层宽度（缺省调默认值）
	h		弹出层高度（缺省调默认值）
*/
/*管理员-增加*/
function user_add(title,url,w,h){
	layer_show(title,url,w,h);
}

/*管理员-编辑*/
function user_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
}

/*管理员-删除*/
function user_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'delete',
			url: '/api/user/' + id +'/',
			dataType: 'json',
			success: function(data){
			    layer.msg('已删除!',{icon:1,time:1500});
			    window.location.href = '/user/user_list/?pn=' + pn + '&sk=' + sk;
				{#$(obj).parents("tr").remove();#}

			},
			error:function(data) {
			    layer.msg('请求失败!',{icon:2,time:2000});
				console.log(data.msg);
			},
		});
	});
}
</script>
{% endblock %}