<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>修改密码</title>
<link rel="stylesheet" type="text/css" href="/static/css/css.css" />
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
</head>
<body>
	<div id="pageAll">
		<div class="pageTop">
			<div class="page">
				<img src="/static/img/coin02.png" /><span><a target="_parent" href="{{ url_for('index.index') }}">首页</a>&nbsp;-&nbsp;</span>&nbsp;修改密码
			</div>
		</div>
		<div class="page ">
			<!-- 修改密码页面样式 -->
			<div class="bacen">
				<div class="bbD">
					&nbsp;&nbsp;&nbsp;&nbsp;管理员UID：&nbsp;&nbsp;&nbsp;&nbsp;<span id="aid"></span></div>
				<div class="bbD">管理员用户名：&nbsp;&nbsp;&nbsp;&nbsp;<span id="username"></span></div>
                <div class="bbD">&nbsp;&nbsp;&nbsp;管理员姓名：&nbsp;&nbsp;&nbsp;&nbsp;<span id="realname"></span></div>
				<div class="bbD">
					&nbsp;&nbsp;&nbsp;&nbsp;输入旧密码：<input type="password" class="input3"
						onblur="checkpwd1()" id="oldpwd" placeholder="请输入原密码" /> <img class="imga"
						src="/static/img/ok.png" /><img class="imgb" src="/static/img/no.png" />
				</div>
				<div class="bbD">
					&nbsp;&nbsp;&nbsp;&nbsp;输入新密码：<input type="password" class="input3"
						onblur="checkpwd2()" id="newpwd" placeholder="请输入新密码" /> <img class="imga"
						src="/static/img/ok.png" /><img class="imgb" src="/static/img/no.png" />
				</div>
				<div class="bbD">
					再次确认密码：<input type="password" class="input3" onblur="checkpwd3()"
						id="repwd" placeholder="请输入确认密码" /> <img class="imga" src="/static/img/ok.png" /><img
						class="imgb" src="/static/img/no.png" />
				</div>
				<div class="bbD">
					<p class="bbDP">
						<button class="btn_ok btn_yes">提交</button>
						<a class="btn_ok btn_no">重置</a>
					</p>
				</div>
			</div>

			<!-- 修改密码页面样式end -->
		</div>
	</div>
</body>
<script type="text/javascript">
function checkpwd1(){
var user = document.getElementById('pwd1').value.trim();
 if (user.length >= 6 && user.length <= 12) {
  $("#pwd1").parent().find(".imga").show();
  $("#pwd1").parent().find(".imgb").hide();
 }else{
  $("#pwd1").parent().find(".imgb").show();
  $("#pwd1").parent().find(".imga").hide();
 };
}
function checkpwd2(){
var user = document.getElementById('pwd2').value.trim();
 if (user.length >= 6 && user.length <= 12) {
  $("#pwd2").parent().find(".imga").show();
  $("#pwd2").parent().find(".imgb").hide();
 }else{
  $("#pwd2").parent().find(".imgb").show();
  $("#pwd2").parent().find(".imga").hide();
 };
}
function checkpwd3(){
var user = document.getElementById('pwd3').value.trim();
var pwd = document.getElementById('pwd2').value.trim();
 if (user.length >= 6 && user.length <= 12 && user == pwd) {
  $("#pwd3").parent().find(".imga").show();
  $("#pwd3").parent().find(".imgb").hide();
 }else{
   $("#pwd3").parent().find(".imgb").show();
  $("#pwd3").parent().find(".imga").hide();
 };
}
</script>
</html>

<script type="text/javascript">
    $.getJSON('/api/user/0/', function (data) {
        if(data.code == '200'){
            $('#aid').text(data.data.id);
            $('#username').text(data.data.username);
            $('#realname').text(data.data.name);
        }
    });

    $(document).ready(function () {
         $('.btn_no').on('click', function (e) {
             e.preventDefault();

             $('#oldpwd').val('');
             $('#newpwd').val('');
             $('#repwd').val('');
         })

         $('.btn_yes').on('click', function (e) {
             e.preventDefault();

             var aid = $('#aid').text().trim();
             var oldpwd = $('#oldpwd').val().trim();
             var newpwd = $('#newpwd').val().trim();
             var repwd = $('#repwd').val().trim();

             $.ajax({
                 url: '/api/auth/'+aid +'/',
                 type: 'patch',
                 data: {'oldpwd': oldpwd, 'newpwd': newpwd, 'repwd': repwd},
                 dataType: 'json',
                 success: function (data) {
                    if(data.code == '200'){
                        alert('成功');
                    }else {
                        alert(data.msg);
                    }
                 },
                 error: function (error) {
                     console.log(error);
                 }
             });
         })
    });
</script>