<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/static/favicon.ico" >
<link rel="Shortcut Icon" href="/static/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="/static/lib/html5shiv.js"></script>
<script type="text/javascript" src="/static/lib/respond.min.js"></script>
<![endif]-->
<link href="/static/static/h-ui/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="/static/static/h-ui.admin/css/H-ui.login.css" rel="stylesheet" type="text/css" />
<link href="/static/static/h-ui.admin/css/style.css" rel="stylesheet" type="text/css" />
<link href="/static/lib/Hui-iconfont/1.0.8/iconfont.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="/static/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>预约后台管理系统 | 登录</title>
<meta name="keywords" content="">
<meta name="description" content="">
</head>
<body>
<div class="header"><div>预约后台管理系统 v1.0</div></div>
<div class="loginWraper">
  <div id="loginform" class="loginBox">
    <form class="form form-horizontal">
      <div class="row cl">
        <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60d;</i></label>
        <div class="formControls col-xs-8">
          <input id="username" name="username" type="text" placeholder="账户" class="input-text size-L">
        </div>
      </div>
      <div class="row cl">
        <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60e;</i></label>
        <div class="formControls col-xs-8">
          <input id="password" name="password" type="password" placeholder="密码" class="input-text size-L">
        </div>
      </div>
      <div class="row cl">
        <div class="formControls col-xs-8 col-xs-offset-3">
          <input type="button" class="btn btn-success radius size-L" value="&nbsp;登&nbsp;&nbsp;&nbsp;&nbsp;录&nbsp;">
          <input type="reset" class="btn btn-default radius size-L" value="&nbsp;取&nbsp;&nbsp;&nbsp;&nbsp;消&nbsp;">
        </div>
      </div>
        <div class="row cl">
            <div class="formControls col-xs-8 col-xs-offset-3">
                <div id="result"></div>
            </div>
        </div>
    </form>
  </div>
</div>
<div class="footer">Copyright &copy;2018 预约后台管理系统 v1.0 All Rights Reserved.</div>
<script type="text/javascript" src="/static/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="/static/lib/layer/2.4/layer.js"></script>
<script type="text/javascript">
    $(function () {
        $('.btn-success').on('click', function (e) {
            e.preventDefault();

            var username = $('#username').val().trim();
            var password = $('#password').val().trim();

            if(username == ''){
                $('#result').html('用户名不能为空');
                return;
            }else if(password == ''){
                $('#result').html('密码不能为空');
                return;
            }else {
                $('#result').html('');
            }

            $.ajax({
                url: '/api/auth/',
                type: 'post',
                data: {'username': username, 'password': password},
                dataType: 'json',
                success: function (data) {
                    if (data.code == '200'){
                        layer.msg(data.msg, {icon: 1, time: 1000});
                        window.parent.location.href = '/index/';
                    }else {
                        layer.msg(data.msg, {icon: 2, time: 1500});
                        $('#password').val('');
                    }
                },
                error: function (error) {
                    console.log(error);
                    layer.msg('请求失败', {icon: 2, time: 1500});
                }
            });
        })
    });
</script>
</body>
</html>